<h2>Send invitation</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="actions">
      <div class="input">
        <%= f.submit "Send an invitation", :class => 'btn primary' %></p>
      </div>
    </div>
  </fieldset>
<% end %>