<div class="row">
  <div class="span6 well">
    <%= form_for(@user, :url => user_registration_path) do |f| %>
      <h3><%= @user.new_record? ? "Registration" : "Edit Account" %></h3>
      
      <div class="control-group">
        <%= f.label :username %>
        <div class="controls">
          <%= f.text_field :username, :class => "span5", :autofocus => true %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :email, :class => "control-label"  %>
        <div class="controls">
          <%= f.text_field :email, :class => "span5" %>
        </div>
      </div>
      <%= f.fields_for :profile do |profile| %>
        <div class="control-group">
          <%= profile.label :first_name, 'First Name', :class => "control-label"  %>
          <div class="controls">
            <%= profile.text_field :first_name, :class => "span5" %>
          </div>
        </div>
        
        <div class="control-group">
          <%= profile.label :last_name, 'Last Name', :class => "control-label" %>
          <div class="controls">
            <%= profile.text_field :last_name, :class => "span5" %>
          </div>
        </div>           
        <div class="clearfix">
          <%= profile.label :birth_date %>
          <div class="input">
            <%= profile.date_select :birth_date, {:order => [:month, :day, :year], :start_year => 1940 }, {:class => "span2"} %>
          </div>
        </div>
      <% end %>
      
      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>        
        <div class="controls">
          <%= f.password_field :password, :class => "span5" %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :password_confirmation, :class => "control-label" %>        
        <div class="controls">
          <%= f.password_field :password_confirmation, :class => "span5" %>
        </div>
      </div>
      
      <div class="actions">
        <%= f.submit @user.new_record? ? "Sign Up" : "Update Account", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="span5">
    <%= render 'entropi_social/shares/login_with_facebook' %>
  </div>
</div>